
.s {
    position: absolute;
    background: #000;
    border-radius: 50%;
    animation: flame 2s ease 0s infinite alternate none running;
}

@keyframes flame {
    0% {
        transform: scale(.4);
        background-color : orangered;
        /* box-shadow: 0 0 30px 10px red; */
    }
    100% {
        transform: scale(.5);
        background-color : red;
        /* box-shadow: 0 0 50px 20px red; */
    }
}

@keyframes rotation {
    0% {
        transform: scale(.3);
    }

    50% {
        transform: scale(.6) rotate(-45deg);
        background: red;
    }

    100% {
        transform: scale(1) rotate(180deg);
        background: blue;
    }
}

@keyframes laser {
    0% {
        height : 10px ;
        width : 5px;
        background: white;
    }

    70% {
        height : 1200px ;
        width : 20px;
        background: yellow;
    }

    95% {
        height : 1200px ;
        width : 30px;
        background: red;
    }
}
